body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #666666; /* Texto cinza */
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    padding: 20px;
    color: #666666; /* Texto cinza no cabeçalho */
    text-align: center;
    border-bottom: 3px solid #BFE1FF; /* Bordo azul bebê */
}



h1, h2, h3, h4 {
    color: #666666; /* Texto cinza para os títulos */
}

p {
    color: #666666; /* Texto cinza para os parágrafos */
    line-height: 1.6;
    padding: 10px 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 0%;
}
